<nav>
    <h3>Weather Forecast</h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/current">Current Forecast</a></li>
        <li><a href="/fiveDay">Five Day Forecast</a></li>
    </ul>
</nav>