@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65)),
    url("/img1.jpg");
  height: 100%;
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}

h1 {
  font-family: "Handlee", cursive;
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  font-size: 48px;
  text-shadow: 3px 3px #313030;
}
