@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

* {
  margin-top: 0px;
  padding: 0;
  box-sizing: border-box;
}

nav h3 {
  color: white;
  text-decoration: none;
  text-align: start;
  font-size: 30px;
  font-family: "Handlee", cursive;
  margin-top: 10px;
}

li {
  color: #d16ba5;
  text-decoration: none;
  text-align: start;
  font-size: 30px;
  font-family: "Handlee", cursive;
}

nav {
  color: white;
  background-color: rgb(27, 27, 27);
  padding: 15px 20px;
  padding-bottom: 0px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

nav ul {
  margin-top: 8px;
  color: white;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  color: white;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 25px;
}
